@charset "UTF-8";

.mainContent {
	width: 100%;
}

.signinorup {
	max-width: 400px;
	border: solid 2px #ccc;
	overflow: hidden;
	padding: 2%;
}

.siuLeft {
	float: left;
	text-align: right;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.siuRight {
	float: left;
	text-align: left;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.listOfWorkout table {
	width: 80%;
	border: solid 1px #888;
	text-align: center;
}
.listOfWorkout th, td {
	border: solid 1px #888;
	margin: 0;
}
.fa-trash-alt {
	transition: 0.3s;
}
.fa-trash-alt:hover {
	color: #ccc;
}

.woGen {
	float: left;
	width: 65%;
}

.woTr {
	float: left;
	width: 35%;
}